html, body { height: 100% } 
/*---------- generic - resets normalise etc ---------*/
body { margin: 0; padding: 0; width: 100%; }

*, *:before, *:after { box-sizing: border-box; }

// ol, ul { list-style: none; }
a { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

img { -ms-interpolation-mode: bicubic;/* image scaling IE fix */ 
	max-width: 100%; height: auto;}

//remove color block on touch areas on touch devices
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* ios rounded corners styling removal on inputs  */
input[type=textarea], input[type=email],input[type=text],input[type=tel], button { -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0; }

/*---------- base styling  ---------*/
html {background:#F8F7F5;}

hr, .break { height: 1px; width: 100%; background: rgb(195, 195, 195); margin-bottom: 2rem; }

h1, h2, h3, h4, h5, h6, p, li, blockquote, a, ul, ol {margin: 0;}
hgroup, ul, ol, dl, figure, pre, table, fieldset, hr { margin-bottom: 3rem; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .btn {margin-bottom: 2rem;}
p, hgroup, ul, ol, dl, figure, pre, table, fieldset, img {
    +h1, +h2, +h3, +h4, +h5, +h6, +.h1, +.h2, +.h3, +.h4, +.h5, +.h6 {margin-top:4rem}
}

// /* margin/padding on block level elements */
// hgroup, ul, ol, dl, p, figure, pre, table, fieldset, hr, img { margin-bottom: 2rem; }
// h1, h2, h3, h4, h5, h6 { margin: 3rem 0 2rem; }

hr { background: #ccc; height: 1px; border: none; display: block; }

/* inputs */
textarea, input,input[type="text"] {border: 1px solid grey; padding: 1rem; }
label[type=text] { display: block; }