//// FONTS //////////////////////////////////////////////////////////////////////////////////////////////////////
$heading: 'Fira Sans', helvetica, arial, sans-serif;
/*$paragraph: 'Lora', serif;*/

//// GLOBAL /////////////////////////////////////////////////////////////////////////////////////////////////////
html, body {
  font-family: $heading;
  position: relative;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
}

//// NAVIGATION ///////////////////////////////////////////////////////////////////////////////////////////////
nav ul li a {
  font-family: $heading;
  font-weight: 300;
  font-size: 20px;
}

.side_nav ul li a {
  font-family: $heading !important;
  font-size: 16px;
}

.side_nav ul li a:hover {
  font-family: $heading !important;
  font-size: 16px;
}

//// HEADINGS //////////////////////////////////////////////////////////////////////////////////////////////////
h1, h2, h3, h4, h5, h5 {
  font-family: $heading !important;
}

h1, .section_heading {
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

//// PARAGRAPHS ////////////////////////////////////////////////////////////////////////////////////////////////
p {
  color: #333;
}

//// LISTS ////////////////////////////////////////////////////////////////////////////////////////////////////////
.number_list li:before {
  font-family: $heading !important;
  font-weight: 400 !important;
}

//// PAGES ///////////////////////////////////////////////////////////////////////////////////////////////////////
// Global
.page_content {
  padding-left: 250px;

  // Responsive
  // Large Screens
  @media ( max-width: 1200px ){
    width: 50%;
    padding-left: 30px;
  }

  // Medium Screens
  @media ( max-width: 980px ){
      width: 100%;
      max-width: 680px;
      margin: 0 auto;
  }

  // Small Screens
  @media (max-width: 480px) {
      font-size: 0.75em;
  }
}

.page_content .team_list {
  list-style: none;

  // Responsive
  // Medium Screens
  @media (max-width: 980apx) {
    padding-left: 0;
  }
  // Small Screens
  @media (max-width: 480px) {
    padding-left: 0;
  }
}

.page_content .team_list li {
  padding-bottom: 30px;
}

.page_content .team_member_name {
  // Responsive
  // Small Screens
  @media (max-width: 480px) {
    font-size: 1.6rem;
  }
}

.page_content p {
  color: #333 !important;
}

.page_content p.intro-paragraph {
  font-family: $heading;
}

// About Us
// Stat Blocks
.stat_block_wrapper .stat_block .title_wrap .title {
  position: relative;
  font-family: $heading !important;
  font-weight: 400 !important;
  font-size: 5rem;
  color: $blue !important;
}

.stat_block_wrapper .stat_block .title_wrap .circle_unit {
  font-family: $heading !important;
  font-size: 1.5rem;
  vertical-align: top !important; // to actually vertially centre
}

.stat_block_wrapper .stat_block .message {
  font-family: $heading !important;
}

.team_member_name {
  font-family: $heading !important;
  font-weight: 600;
}

.team_member_title {
  font-size: 1.6rem;
}

.team_member_email {
  font-family: $heading !important;
  font-size: 1.6rem;
}

.team_member .cities {
  font-size: 1.4rem;
}

.team_member .cities:first-child {
  margin-top: 30px;
}

// Brands
.brand-details {
  position: relative;
  margin-bottom: 40px;
}

.brand_stats {
  list-style: none;
  padding: 0px;
  margin-bottom: 50px;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;*/
}

.brand_stat {
  margin-bottom: 20px;
  /*width: 50%;*/
}

.brand_stat_title .fa, .brand_stat_title h4 {
  display: inline-block;
}

.brand_stat_title .fa {
  color: $blue;
}

.brand_stat_title h4 {
  font-weight: 400;
  margin-left: 10px;
  margin-bottom: 0px;
}

.brand_stat p {
  margin-bottom: 0px;
  padding-left: 32px;
}

.brand_stat ul {
  list-style: none;
  list-style-position: outside;
  margin-bottom: 0px;
  padding-left: 32px;
}

// Design & News
.design_page .content_wrapper .page_content, .news_page .content_wrapper .page_content {
  padding-left: 50px !important;
}

.design_page .content_wrapper .page_content ul, .news_page .content_wrapper .page_content ul {
  list-style: none;
  list-style-position: inside;
}

.design_page .content_wrapper .page_content ul li, .news_page .content_wrapper .page_content ul li  {
  list-style: none;
  list-style-position: inside;
  margin-bottom: 20px;
}

.design_page .content_wrapper .page_content ul li .fa, .news_page .content_wrapper .page_content ul li .fa {
  color: $blue;
  margin-right: 10px;
}

.design_page .content_wrapper .page_content ul li a, .news_page .content_wrapper .page_content ul li a {
  text-decoration: none;
  color: $blue2
}

.design_page .content_wrapper .page_content ul li a span, .news_page .content_wrapper .page_content ul li a span {
  padding-left: 5px;
  font-size: 1.4rem;
}

.design_page .content_wrapper .page_content ul li a:hover, .news_page .content_wrapper .page_content ul li a:hover {
  color: $blue;
}

// Contact
.contact_page .content_wrapper .location_block_wrapper .location_block .info_wrap .info .city h2, .contact_page .content_wrapper .location_block_wrapper .location_block .info_wrap .info .city span {
  display: inline-block;
}

.contact_page .content_wrapper .location_block_wrapper .location_block .info_wrap .info .city span {
  margin-left: 10px;
}

.contact_page .location_block {
  width: 100% !important;
}

.contact_page .location_block .info_wrap .info .info_block span {
  font-family: $heading !important;
}

.contact_page .image {
  background-image: url("../../img/contact/Landscape-Toronto-AdobeStock_10709082-min.jpeg") !important;
  background-position: 50% !important;
}

.contact_page .sup_contact {
  max-width: 500px !important;
}

.sup_contact ul {
  padding-left: 0px;
  list-style: none;
  list-style-position: inside;
}

.sup_contact ul li {
  list-style: none;
  padding-bottom: 30px;
}

.sup_contact.contact_list {
  max-width: 100% !important;
}

.sup_contact.contact_list > p {
  max-width: 500px !important;
}

.sup_contact.contact_list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sup_contact.contact_list ul li {
  margin-right: 50px;
}

.contact_page .map_wrapper .address {
  transform: translate3d(0, 0, 0) !important;
  color: #FFF !important;
  height: 100%;
}

.contact_page .map_wrapper .address p {
  color: #FFF !important;
}

//// ELEMENTS /////////////////////////////////////////////////////////////////////////////////////////////////
// Page Heading Bar
.divider {
  height: 3px;
}

// Slick Carousel
// Info (Caption)
.media_holder .slider .slide .info {
  max-width: 50% !important;
  width: auto !important;
  margin: 0 !important;
  padding: 15px !important;
  font-size: 1.4rem !important;
  font-style: italic;
  background-color: rgba(#FFF, 0.9) !important;
  bottom: auto !important;
}

// Author
.media_holder .slider .slide .info .author {
  display: block;
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 10px;
}

// Position the info where we want to
// TL
.media_holder .slider .slide .info.topLeft {
  top: 10px;
  left: 10px;
}

// TC
.media_holder .slider .slide .info.topCentre {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

// TR
.media_holder .slider .slide .info.topRight {
  top: 10px;
  right: 10px;
}

// CL
.media_holder .slider .slide .info.centreLeft {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

// C
.media_holder .slider .slide .info.centre {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// CL
.media_holder .slider .slide .info.centreRight {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

// BL
.media_holder .slider .slide .info.bottomLeft {
  top: calc(100% - 10px);
  left: 10px;
  transform: translateY(-50%);
}

// BC
.media_holder .slider .slide .info.bottomCentre {
  top: calc(100% - 10px);
  left: 50%;
  transform: translate(-50%, -50%);
}

// BR
.media_holder .slider .slide .info.bottomRight {
  top: calc(100% - 10px);
  right: 10px;
  transform: translateY(-100%);
}

.number_list li::after {
  top: 14px !important;
}
